@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
  }

@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: myPoppins;
    src: url("../assets/fonts/Poppins-Italic.ttf");
    font-style: italic;
}


body {
    background: hsl(0, 0%, 86%);
    font-family: myPoppins;
}

.container {
    background: hsl(0, 0%, 94%);
    height: 400px;
    width: 700px;
    margin: 0 auto;
    margin-top: 120px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 20px 20px 165px 20px;
}

footer {
    text-align: center;
    font-size: 24px;
    color: hsl(0, 0%, 8%);
    margin: 50px 0px;
    line-height: 24px;

}

footer a {
    color: hsl(259, 100%, 65%);
    text-decoration:overline
}

footer a:hover {
    opacity: .5;
    text-decoration: line-through;
}

@media screen and (max-width: 750px) {
    .container{
        height: 400px;
        width: 300px;
    }

    footer {
        font-size: 12px;
    }
}